trigger:
  branches:
    include:
      - '*'
  tags:
    include:
      - v*

jobs:
- job: macOS
  displayName: macOS Build 
  pool: {vmImage: 'macOS-10.15'}
  variables:
    WITH_CYTHON: true
#     CIBW_TEST_COMMAND: "python3 {project}/runtests.py -v"
    CIBW_BUILD: cp38-*
    CFLAGS: "-std=c++14"
  steps:
    - task: UsePythonVersion@0
      inputs:
        versionSpec: '3.8'
      displayName: "Python Setup"
    - bash: |
        brew postinstall openssl
        export SSL_CERT_FILE=$(brew --prefix)/etc/openssl/cert.pem
        echo "##vso[task.setvariable variable=SSL_CERT_FILE]$SSL_CERT_FILE"
      displayName: "Update SSL Certs"

    - bash: |
        python3 -m pip install --upgrade pip setuptools wheel
        pip3 install -r requirements.txt
        python3 setup.py build_ext -i  -vv --warnings
        python3 runtests.py -vv
        make clean
      displayName: "Initial Build Tests"
      
    - bash: |
        pip3 install cibuildwheel==1.4.1
        cibuildwheel --output-dir wheelhouse .
      displayName: "Build Wheels"
        
    - task: PublishBuildArtifacts@1
      inputs: 
        pathtoPublish: 'wheelhouse'
        ArtifactName: 'macOSwheels'
      displayName: "Create Artifacts"

    - task: GitHubRelease@1
      inputs:
        gitHubConnection: 'github.com_wrathdev'
        repositoryName: '$(Build.Repository.Name)'
        action: 'create'
        target: '$(Build.SourceVersion)'
        tagSource: 'gitTag'
        tagPattern: 'v.+'
        releaseNotesSource: 'inline'
        assets: 'wheelhouse/*'
        changeLogCompareToRelease: 'lastFullRelease'
        changeLogType: 'commitBased' 


    
